
#page-wrapper{
    display: flex;
    margin: -8px;
    background-image: url("https://thumbs.dreamstime.com/b/blue-color-tone-close-up-rain-water-drop-falling-to-floor-rainy-season-56849111.jpg");
    background-repeat: repeat-y;
    background-size: 1350px 530px;
}   
#left{
    margin: 10px;
    padding: 5px;
    background-color: rgb(52, 73, 94);
    border-radius: 10px;
    text-align: left;
    width: max-content;
    color: green;
}
#right{
    margin: 10px;
    padding: 5px;
    background-color: rgb(52, 73, 94);
    border-radius: 10px;
    text-align: center;
    width: 230px;
    border: solid;
    border-color: rgb(0, 200 , 200);
}

#logo{
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(15, 99, 4);
    margin: 0px;
    padding: 10px;
    border-radius: 10px;
}
#half-logo{
    color: darkmagenta;
}
#search-area{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 250px;
    margin-left: 160px;
    margin-top: 15px;
    border-radius: 10px;
    left: 0px;
    right: 0px;
    text-align: center;
    background-image: url("http://127.0.0.1:5500/images/IMG_20220709_092739.jpg");
    background-size: 600px 250px;
    color: blue;
    opacity: 0.5;
    box-shadow: 4px 3px 5px 3px rgb(0, 200 , 200), 2px 2px 5px 2px rgb(0, 255, 0) ;
    
}
input{
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
    box-shadow: none;
    border: none;
}
#gmail-icon{
    width: 20px;
}
#phone-icon{
    width: 20px;
}
ul{
    list-style-type: none;
}
#nav-bar{
    padding: 0px;
    width:200px;
}
#nav-bar li{
    padding: 5px;
    border: solid;
    border-color: rgb(150, 255 , 255);
    border-radius: 10px;
}
#nav-bar li:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
#profile{
    border-radius: 50%;
    width: 100px;
}
#slide-show img{
    width: 180px;
    height: 250px;
    border-radius: 20px;
    margin: 15px;
}
#img1:hover{
    width: 200px;
    box-shadow: 3px 3px 3px rgb(255, 150, 200);
}

#img2:hover{
    width: 200px;
    box-shadow: 3px 3px 3px rgb(100, 250, 100);
}
#img3:hover{
    width: 200px;
    box-shadow: 3px 3px 3px rgb(234, 238, 10);
}
#img4:hover{
    width: 200px;
    box-shadow: 3px 3px 3px rgb(5, 119, 226);
}
#slide-show{
    text-align: center;

}
#more{
    display: none;
}
#google-map{
    width: 200px;
    height: 150px;
}
#city{
    margin-bottom: 20px;
    margin-top: 15px;
}
#price-range{
    margin-bottom: 10px;
}
#myBtn{
    margin-top: 15px;
    margin-bottom: 10px;
}
#checkbox{
    color: rgb(231, 219, 219);
}
#type-disc{
    color: limegreen;
}
a:link {
    text-decoration: none;
    color: green;
  }
  
a:visited {
text-decoration: none;
color: green;
}
  
a:hover {
text-decoration: none;
color: yellow;
}
  
a:active {
text-decoration: none;
color: green;
}
#access-btns{
    display: none;
}
#pick-txt{
    background-color: rgba(255, 255, 255, 0.4);
} 
#contacts-txt {
    background-color: rgb(145, 155, 165);
    border-radius: 10px;
}
#contacts{
    background-color: green;
}
@media (max-width: 600px){
    #page-wrapper{
        display: block;
        margin: 0px;
        background-image: url("https://thumbs.dreamstime.com/b/blue-color-tone-close-up-rain-water-drop-falling-to-floor-rainy-season-56849111.jpg");
        background-repeat: repeat-y;
        background-size: 1350px 530px;
    }  
    #search-area{
        display: none;
        flex-direction: column;
        width: 600px;
        height: 250px;
        margin-left: 160px;
        margin-top: 15px;
        border-radius: 10px;
        left: 0px;
        right: 0px;
        text-align: center;
        background-image: url("http://127.0.0.1:5500/images/IMG_20220709_092739.jpg");
        background-size: 600px 250px;
        color: blue;
        opacity: 0.5;
        box-shadow: 4px 3px 5px 3px rgb(0, 200 , 200), 2px 2px 5px 2px rgb(0, 255, 0) ;
        
    }
    #logo{
        position: sticky;
        top: -10px;
        background-color: rgb(52, 73, 94);
        text-align: center;
        width: inherit;
        border-radius: 0px;
    }
    #left{
        display: none;
    }
    #access-btns{
        display: contents;
        color: black;
        display: flex;
        justify-content: space-around;
        border: solid;
        background-color: dimgray;
        border-radius: 0px 0px 10px 10px;
        position: sticky;
        top: 30px;
    }
    #slide-show img{
        width: 120px;
        height: 150px;
        border-radius: 20px;
        margin: 15px;
    }
    #img1:hover{
        width: 150px;
        box-shadow: 3px 3px 3px rgb(255, 150, 200);
    }
    
    #img2:hover{
        width: 150px;
        box-shadow: 3px 3px 3px rgb(100, 250, 100);
    }
    #img3:hover{
        width: 200px;
        box-shadow: 3px 3px 3px rgb(234, 238, 10);
    }
    #img4:hover{
        width: 200px;
        box-shadow: 3px 3px 3px rgb(5, 119, 226);
    } 
    #right{
        display: none;
    }
    #contacts-txt {
        background-color: rgb(52, 73, 94);
        border-radius: 0px;
    }
    
}
